@import "../../../styles/Libs/Variables.scss";
@import "../../../styles/Libs/mixin.scss";
%shadow {
  box-shadow: 0px 0px 32px -19px rgba(0, 0, 0, 0.3);
}
.Menu-container {
  @include flex(flex, center, center, row);
  @include dimension(7, 100);
}

.Logo-container {
  @include flex(flex, center, center, column);
  @include dimension(100, 20);
}

.Logo {
  width: 50px;
}
.Logo-spine {
  width: 50px;
  @include spiner(0.5s);
}
.Menu {
  @include flex(flex, center, center, column);
  @include dimension(60, 95);
  background-color: $secondaryColor;
  border-radius: 10px;
  margin: 0 auto;
  @extend %shadow;
}

.Liste {
  @include flex(flex, flex-start, center, column);
  @include dimension(100, 85);
  padding: 0;
  margin: 0;
  list-style: none;
}

.Liste-btn {
  @include flex(flex, flex-end, center, row);
  @include dimension(100, 20);
}

.Menu-list {
  @include flex(flex, center, center, row);
  @include dimension(100, 100);
  text-decoration: none;
  color: $thirdlyColor;
  font-size: $screen-font-size-s;
  transition: 0.1s ease-in;
}
.disable {
  @include flex(flex, center, center, row);
  @include dimension(100, 100);
  text-decoration: none;
  color: $primaryColor;
  font-size: $screen-font-size-s;
  cursor: none;
  pointer-events: none;
}
.Menu-active {
  font-size: $screen-font-size-s;
  @include dimension(85, 40);
  border-radius: 30px 0px 0px 30px;
  background-color: $primaryColor;
}
.Mode-container {
  @include flex(flex, center, center, column);
  @include dimension(80, 10);
}

.Mobile-menu {
  display: none;
}
