@import "./styles/Reset.scss";
@import "./styles/Libs/Variables.scss";

p,
h5 {
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  background-color: $primaryColor;
  color: $thirdlyColor;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.Global-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/**************************Loder***************************/
@import "./components/CommonComponents/Loder/style.scss";
/**************************Menu***************************/
@import "./components/CommonComponents/Menu/style.scss";
/**************************Topbar***************************/
@import "./components/CommonComponents/Top-bar/style.scss";
/**************************Home***************************/
@import "./screen/Home/style.scss";
/**************************History***************************/
@import "./screen/Historique/style.scss";
/**************************DarkMode***************************/
@import "./styles/darkMode.scss";
/**************************Mobile***************************/
@import "./styles/mobile.scss";
