@import "./styles/Reset.scss";
@import "./styles/Libs/Variables.scss";

p,
h5 {
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  background-color: $primaryColor;
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Global-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
