@media only screen and (max-width : 600px) {
    .App {
        overflow: auto !important;
    }

    .Global-container {
        flex-direction: column !important;
        height: fit-content !important;
    }

    .Menu-container {
        width: 100% !important;
        height: 8vh !important;
        position: sticky !important;
        top: 0 !important;
        z-index: 1400;
    }

    .Menu {
        flex-direction: row !important;
        width: 100% !important;
        height: 100% !important;
        border-radius: 0px !important;
        justify-content: space-between !important;
    }

    .Liste {
        flex-direction: row !important;
        justify-content: center !important;
        width: 50% !important;
        height: 100% !important;
    }

    .Mode-container {
        width: 20% !important;
        height: 100% !important;
    }

    .Liste-btn {
        display: none !important;
    }

    .Liste-btn a {
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        font-size: calc(32 * var(--res)) !important;
    }

    .Logo-container {
        flex-direction: row !important;
        justify-content: flex-start !important;
        width: 60% !important;
        height: 100% !important;
    }

    .Logo {
        width: 34% !important;
    }

    .Home-container {
        width: 100% !important;
    }

    .Title-home-top-container {
        width: 65% !important;
    }

    .Top-right-content {
        width: 35% !important;
    }

    .Home-bottom-container {
        flex-direction: column !important;
    }

    .Home-top-container {
        height: 12vh !important;
    }

    .Display-data-container {
        width: 100% !important;
        height: 150vh !important;
        flex-direction: column !important;
    }

    .home-top-img-container {
        width: 40% !important;
        height: 50% !important;
    }

    .Title-home-top {
        width: 50% !important;
        font-size: calc(32 * var(--res));
    }

    .Display-data-global-container {
        width: 100% !important;
        height: 100vh !important;
        overflow: auto !important;
    }

    .Display-data-global-content {
        width: 100% !important;
    }

    .Box-display {
        width: 85% !important;
        height: 33% !important;
        margin: 1% 0px 1% 0px !important;
    }

    .Box-top-content {
        height: 15% !important;
    }

    .box-bottom {
        height: 52% !important;
        justify-content: center !important;
    }

    .Box-bottom {
        justify-content: center !important;
    }

    .Country-display {
        height: 80vh !important;
        flex-direction: column !important;
    }

    .container {
        height: 70vh !important;
    }

    .Map-color {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .Dots {
        width: 8% !important;
    }

    .Map-title-container {
        width: 100% !important;
        justify-content: space-between !important;
        font-size: calc(32 * var(--res));
    }

    .Map-title-content {
        width: 46% !important;
    }

    .Map-color-content {
        width: 54% !important;
    }

    .Last {
        width: 41% !important;
    }

    .leaflet-left {
        top: 9% !important;
    }

    .Mobile-menu {
        display: flex !important;
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
    }

    .Bare {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;
        height: 65%;
    }

    .Bare div {
        width: 30%;
        height: 8%;
        border-radius: 15px;
        background-color: whitesmoke;
    }
}