@import "../../../styles/Libs/Variables.scss";
@import "../../../styles/Libs/mixin.scss";

.loader-container {
  @include flex(flex, center, center, row);
  @include dimension(100, 100);
}

.loader {
  @include dimension(50, 50);
  @include flex(flex, center, center, row);
  animation: animloader 2s linear infinite;
  font-size: $screen-font-size-s;
}

@keyframes animloader {
  0% {
    transform: translate(-10px, -10px);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}
